fastapi
uvicorn[standard]
sqlalchemy
asyncpg
aiosqlite
strawberry-graphql[fastapi]
jinja2
python-multipart
passlib[bcrypt]
python-jose[cryptography]
httpx
Babel
gunicorn
razorpay
stripe
paypal-checkout-serversdk
